include "monitors.local.kdl"

input {
    keyboard {
        xkb {
            layout "us,ru"
            options "caps:none, grp:win_space_toggle"
        }
        track-layout "window"
    }

    touchpad {
        tap
        natural-scroll
    }
    workspace-auto-back-and-forth
    focus-follows-mouse max-scroll-amount="10%"
}

layout {
    gaps 1
    default-column-width { proportion 0.5; }
    focus-ring {
        width 0
    }
    border {
        off
    }
    background-color "transparent"
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 38

    hide-when-typing
    hide-after-inactive-ms 5000
}

environment {
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    XCURSOR_THEME "Bibata-Modern-Classic"
    XCURSOR_SIZE "38"
    DISPLAY null
}
spawn-sh-at-startup "echo 'Xcursor.theme:Bibata-Modern-Classic' | xrdb -merge"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita-dark'"

workspace "main" {}
workspace "chat" {}
workspace "code" {}
workspace "etc" {}
workspace "magic" {}

binds {
    Mod+1 { focus-workspace "main"; }
    Mod+2 { focus-workspace "chat"; }
    Mod+3 { focus-workspace "code"; }
    Mod+4 { focus-workspace "etc"; }
    Mod+S { focus-workspace "magic"; }

    Mod+Shift+1 { move-column-to-workspace "main"; }
    Mod+Shift+2 { move-column-to-workspace "chat"; }
    Mod+Shift+3 { move-column-to-workspace "code"; }

    Mod+R { spawn "fuzzel"; }
    Mod+Q { spawn "kitty"; }
    Mod+C { close-window; }
    Mod+D { toggle-overview; }

    Mod+E repeat=false { spawn-sh "bemoji -n"; }
    Mod+Shift+Q repeat=false { spawn-sh "kitty --class zellij -e zellij a main"; }

    Print { screenshot; }
    Mod+Print repeat=false { spawn-sh "grim -g \"$(slurp -d)\" - | wl-copy"; }
    Mod+Shift+Print repeat=false { spawn-sh "grim -g \"$(slurp -d)\" - | wl-copy && notify-send 'Screenshot saved'"; }
    Mod+V { spawn-sh r"cliphist list \
        | fuzzel -d --with-nth 2 -w 80% -l 20 \
        --font 'Fira Code Nerd Font Mono:size=12'\
        --placeholder 'Clipboard history' \
        | cliphist decode \
        | wl-copy --trim-newline
    "; }

    Mod+Left  { focus-column-left; }
    Mod+Z  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+X { focus-column-right; }
    Mod+Up    { focus-workspace-up; }
    Mod+Down  { focus-workspace-down; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-workspace-down; }
    Mod+K     { focus-workspace-up; }
    Mod+L     { focus-column-right; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollUp cooldown-ms=150  { focus-column-left; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Up    { move-column-to-workspace-up; }
    Mod+Ctrl+Down  { move-column-to-workspace-down; }

    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+L { move-column-right; }

    Mod+Tab repeat=false { focus-workspace-previous; }
    Mod+Shift+Tab repeat=false { spawn-sh "nu ~/.config/niri/scripts/pick_window.nu"; }

    Mod+Minus { set-column-width "-5%"; }
    Mod+Shift+Left { set-column-width "-5%"; }
    Mod+Equal { set-column-width "+5%"; }
    Mod+Shift+Right { set-column-width "+5%"; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { toggle-window-floating; }

    Mod+O repeat=false { spawn-sh "kitty --class kitty-fzf-picker -e nu -c 'source $nu.config-path; po; exit'"; }
    Mod+Shift+O repeat=false { spawn-sh "kitty --class kitty-fzf-picker -e nu -c 'source $nu.config-path; OPENCODE_DISABLE_MODELS_FETCH=1 po -e opencode'"; }

    Mod+B repeat=false { spawn-sh "playerctl play-pause"; }
    Mod+N repeat=false { spawn-sh "playerctl next"; }

    Mod+Shift+B repeat=false { spawn-sh "killall -SIGUSR1 waybar || waybar -c ~/.config/niri/config.jsonc"; }
    Mod+Ctrl+B repeat=false { spawn-sh "pkill waybar && waybar -c ~/.config/niri/config.jsonc"; }

    XF86AudioRaiseVolume { spawn-sh "wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%+"; }
    XF86AudioLowerVolume { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"; }
    XF86AudioMute { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp { spawn-sh "brightnessctl -e4 -n2 set 5%+"; }
    XF86MonBrightnessDown { spawn-sh "brightnessctl -e4 -n2 set 5%-"; }
    XF86AudioNext { spawn-sh "playerctl next"; }
    XF86AudioPause { spawn-sh "playerctl play-pause"; }
    XF86AudioPlay { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev { spawn-sh "playerctl previous"; }
}

recent-windows {
    debounce-ms 750
    open-delay-ms 300

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
    highlight {
        active-color "#1e1e2edd"
        corner-radius 10
    }
}
hotkey-overlay {
    skip-at-startup
}

window-rule {
    open-maximized true
    // baba-is-float true
}
window-rule {
    match app-id="kitty"
    open-maximized false
}

prefer-no-csd

spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"

include "startup.kdl"
// include "startup.local.kdl"
include "animations.kdl"
