output "Virtual-1" {
    mode "1920x1080@60"
    scale 1
    position x=0 y=0
}

output "DP-5" {
    mode "2560x1440@180"
    scale 1
    position x=0 y=0
}

output "DP-6" {
    mode "2560x1440@180"
    scale 1
    position x=2560 y=0
}

workspace "main" {
    open-on-output "DP-4"
}
workspace "code" {
    open-on-output "DP-4"
}
workspace "etc" {
    open-on-output "DP-4"
}
workspace "magic" {
    open-on-output "DP-4"
}
workspace "chat" {
    open-on-output "HDMI-A-5"
}
