spawn-sh-at-startup "waybar -c ~/.config/niri/config.jsonc"
spawn-at-startup "~/.local/bin/TgWsProxy_linux_amd64"

spawn-at-startup "google-chrome-stable"
window-rule {
    match app-id="google-chrome"
    match app-id="firefox"
    match app-id="zen-browser"
    open-on-workspace "main"
}

spawn-at-startup "spotify-launcher"
spawn-at-startup "Telegram"
window-rule {
    match app-id="org.telegram.desktop"
    match app-id="spotify"
    match app-id="discord"
    open-on-workspace "chat"
}

spawn-sh-at-startup "google-chrome-stable --new-window http://localhost:5173/chat"
spawn-at-startup "obsidian"
spawn-sh-at-startup "sleep 7; code ~/Documents/mion.front"
spawn-sh-at-startup "sleep 10; OPENCODE_DISABLE_MODELS_FETCH=1 kitty --class opencode -e opencode ~/Documents/mion.front"
window-rule {
    match app-id="obsidian"
    match app-id="code"
    match app-id="opencode"
    match app-id="google-chrome" title="localhost - Google Chrome"
    open-on-workspace "code"
}

spawn-sh-at-startup "kitty --class zellij -e zellij a main"
window-rule {
    match app-id="zellij"
    open-on-workspace "magic"
}
