* {
  border: none;
  border-radius: 10px;
  margin: 3px 6px 0px 6px;
  padding: 0px 10px;
  font-family: "Firа Code Nerd Font";
  font-size: 15px;
  min-height: 28px;
}

*:hover {
  transition: opacity 0.2s ease-in-out;
  opacity: 0.85;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  color: transparent;
  background: transparent;
}

#network {
  color: #161320;
  background: #bd93f9;
}

#pulseaudio {
  color: #1a1826;
  background: #fae3b0;
}

#battery {
  transition: none;
  color: #161320;
  background: #b5e8e0;
}

#battery.charging,
#battery.plugged {
  color: #161320;
  background-color: #b5e8e0;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  color: #161320;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#backlight {
  color: #161320;
  background: #f8bd96;
}
#clock {
  color: #161320;
  background: #abe9b3;
}

#memory {
  color: #161320;
  background: #ddb6f2;
}

#disk {
  color: #161320;
  background: #b6b9f2;
}

#cpu {
  color: #161320;
  background: #96cdfb;
}

#tray {
  color: #b5e8e0;
  background: #161320;
}

#custom-launcher {
  color: #89dceb;
  background: #161320;
}

#custom-windows,
#custom-notifications {
  color: #89dceb;
  background: #161320;
}

#custom-play-next,
#custom-resume-pause {
  color: #161320;
  background: #f2cdcd;
}

#custom-keyboard-layout {
  color: #161320;
  background: #e2f2cd;
}
