@define-color bg-color #161320;
@define-color main-color #89dceb;
/* sky-950 */
@define-color border-color #052f4a;

window#waybar {
  background: transparent;
}

.module {
  border-radius: 10px;
  padding: 1.5px 12px;
  font-family: "Firа Code Nerd Font";
  font-size: 15px;
  color: @main-color;
  background: @bg-color;
  border: 1px solid @border-color;
}

.module:hover {
  transition:
    color 0.2s ease-in-out,
    background 0.2s ease-in-out;
  color: @bg-color;
  background: @main-color;
}

#workspaces:hover,
#tray:hover {
  transition: none;
  color: @main-color;
  background: @bg-color;
}

#workspaces button {
  padding: 0 0.5em;
  border-radius: 0px;
  color: @main-color;
  background: @bg-color;
}

#workspaces button:hover {
  transition: opacity 0.2s ease-in-out;
  opacity: 0.65;
}

tooltip {
  border-radius: 10px;
  font-family: "Firа Code Nerd Font";
  font-size: 18px;
  background: @bg-color;
}

tooltip label {
  color: @main-color;
}
