monitor = DP-5, 2560x1440@144, 0x0, 1.25
monitor = DP-4, 2560x1440@144, 0x0, 1.25
monitor = eDP-1, preferred, 0x0, 1.33
monitor = HDMI-A-5, 1920x1080@60, 2048x-800, 1

# set default monitor for xwayland apps
# exec-once = xrandr --output DP-4 --primary
# to check monitor run
# xrandr --listactivemonitors

# pin some workspaces to monitors
$left-mon = DP-4
$right-mon = HDMI-A-5

workspace = 1, monitor:$left-mon
workspace = 2, monitor:$right-mon
workspace = 3, monitor:$right-mon
workspace = 4, monitor:$left-mon

# for scaling
env = QT_AUTO_SCREEN_SCALE_FACTOR,1
env = GDK_SCALE, 1.25

# for multi gpu (output of ls -l /dev/dri/by-path)
# put performant GPU first (id is in first digits of lsgpu output)
env = AQ_DRM_DEVICES,/dev/dri/card1:/dev/dri/card0

